{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}



<form action="../add/" method="post">{% csrf_token %}

{{ form.as_p }}

<!--label>Word</label>
<input type="text" name="word" id="word"/>
<br>
<br>

{% for choice in dom %}
  <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
  <label for="choice{{ forloop.counter }}">{{ choice.name }}</label><br />  
  
{% endfor %}
<br>

{% for option in opt %}
<input type="checkbox" name="option" id="option{{ forloop.counter }}" value="{{ option.id }}" />
<label for="option{{ forloop.counter }}">{{ option.name }}</label><br />

{% endfor %}

<br-->
<input type="submit" value="Launch" />
</form>
