
Welcome {{ first }} {{ last }} ({{ user }}) | <a href="/accounts/logout/">Sign out</a>
<br>
<br>
<br>


{% if all_pages %}
  <table border=1 bordercolor=grey width=500 align=center>
    <tr>
      <th>Link</th>
      <th>Send RT</th>
    </tr>
  {% for page in all_pages %}
  <tr>
    <td>
    <a href="http://{{ page.sitename }}/{{ page.path }}">
      {{ page.sitename }}/{{ page.path }}</a>
   </td>
    <td width=5>
    {% if page.ticket == 0 %}
      <a href="{% url ticket year=y month=m day=d pageid=page.id %}">Send</a>
    {% else %}
      Done
      {% endif %}
      </td>
  {% endfor %}
  {% else %}
  <p> No result available </p>
</table>
{% endif %}
<br>
<br>
<a href="../../../">Back to previous page</a>


